body {
    background-color: rgb(222, 201, 241);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    width: 900px;
    height: 400px;
    background: #21e807;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block label {
    font-size: 30px;
    color: #133eeb;
    font-family: "Dancing Script";
    font-weight: 700;
    margin: 10px 0;
}

.block input {
    width: 350px;
    height: 60px;
    border-radius: 10%;
    border: none;
    background: #bfe9ff;
    margin: 20px 0;
    padding: 0 30px;
    font-size: 25px;
}

.block button {
    width: 100px;
    height: 30px;
    border: none;
    background: #ffccff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.relative {
    width: 500px;
    height: 500px;
    left: 30px;
    background-color: #d3151e;
    position: relative;
}

.position {
    position: absolute;
    left: 30px;
    width: 200px;
    height: 200px;
    padding-top: 40px;
    background-color: rgb(2, 6, 255);
    transition: 5s;
}